<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>URL Shortner</h1>

    <div>
        <form action="/url" method="POST">
            <label>Enter Your Original URL</label>
            <input type="text" placeholder="Https://example.com" name="url">
            <button>Generate</button>
        </form>
    </div>
</body>
</html>